body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.web-dev{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-widht{
    width: 50%;
    padding-left: 5%;
  
}
.half-widht img{
    width: 150px;
}
.half-widht img{
    width: 90%;
 
}
p{
  
    text-align :justify;
    padding-right: 15px;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.full-stack{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px yellow;
  
}
.experience{
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;

}
#slice{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(223, 207, 63), red);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}